h2 {
  margin: 15px 0 3px;
  padding-left: 15px;
}

ul {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}

li {
  color: #999;
  text-align: justify;
}

li a:first-child {
  font-size: 13px;
  color: #3d46bd;
}

pre {
  margin: 10px 15px 0;
  padding: 16px;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
  overflow: auto;
}

.news-pagination {
  position: relative;
  top: 12px;
  text-align: center;
  color: #999;
}

.news-publish-date {
  position: absolute;
  left: 14px;
  bottom: -29px;
  text-align: center;
  color: #999;
}

#news-title {
  display: inline-block;
}
