.token-container {
  margin: 1.2rem;
}

.token-input {
  width: 300px;
  box-shadow: none;
  outline: 0;
}

.token-checked-err .token-input {
  border-color: #e57373;
}

.token-err-text {
  display: none;
  color: #e57373;
}

.token-checked-err .token-err-text {
  display: block;
}

.submit-btn {
  cursor: pointer;
}

.err-help {
  position: absolute;
  left: 14px;
  bottom: 8px;
  text-decoration: none;
  color: #1890ff;
}
